#main{margin-left:0}
.sidebar-wrapper{
  width:300px;
  height:100vh;
  position:fixed;
  top:0;z-index:10;
  overflow-y:auto;
  background-color:#fff;
  bottom:0;
  transition:left .5s ease-out}
  .sidebar-wrapper .sidebar-header{padding:2rem 2rem 1rem;font-size:2rem;font-weight:700}
  .sidebar-wrapper .sidebar-header img{height:1.2rem}
  .sidebar-wrapper .sidebar-toggler.x{position:absolute;right:0;top:.5rem;display:none}
  .sidebar-wrapper .menu{margin-top:2rem;padding:0 2rem;font-weight:600}
  .sidebar-wrapper .menu .sidebar-title{padding:0 1rem;margin:1.5rem 0 1rem;font-size:1rem;list-style:none;font-weight:600;color:#25396f}.sidebar-wrapper .menu .sidebar-link{display:block;padding:.7rem 1rem;font-size:1rem;display:flex;align-items:center;border-radius:.5rem;transition:all .5s;text-decoration:none;color:#25396f}.sidebar-wrapper .menu .sidebar-link i,.sidebar-wrapper .menu .sidebar-link svg{color:#7c8db5}.sidebar-wrapper .menu .sidebar-link span{margin-left:1rem}.sidebar-wrapper .menu .sidebar-link:hover{background-color:#f0f1f5}.sidebar-wrapper .menu .sidebar-item{list-style:none;margin-top:.5rem;position:relative}
  

@media (max-width:767px){
  .stats-icon{float:left;margin-bottom:.4rem}
}

#main{margin-left:300px;padding:2rem}
@media screen and (max-width:1199px){#main{margin-left:0}}
#main.layout-navbar{padding:0}
#main #main-content{padding:2rem}
.page-heading{margin:0 0 2rem}
.page-heading h3{font-weight:700}
